<nav>
  <ul>
    <li <% if (title === 'Home Page') { %>class="now" <% } %> ><a href="/">Home Page</a></li>
    <li <% if (title === 'Gallery Page') { %>class="now" <% } %> ><a href="/galleryList">Gallery Page</a></li>
  </ul>
</nav>